/* Styles for Header */
.Header {
  background-color: #1d4b40;
  color: #fff;
  box-shadow: 4px 0 4px 0 #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.75rem 1rem;

  position: sticky;
  top: 0;
  z-index: 3;
}
.HeaderLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.Active{
  background-color: cadetblue;
  text-decoration: underline;
  padding: 0.25rem;
  border-radius: 4px;
}

.Profile {
  position: relative;
  right: 2rem;
}

.ProfileDiv {
  padding: 1.5rem;
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.Show {
  width: 8rem;
  display: none;
  justify-items: center;
  color: black;
  background-color: #fff;
  border: thin solid;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  p {
    color: #1d4b40;
  }

  >div{
    text-align: center;
    font-size: 0.8rem;
    display: grid;
    gap: 0.25rem;
    padding: 0.25rem;
  }
}

.Profile:hover .Show {
  display: grid;
}

.Modal{
  color: black

  h2{
    text-align: center;
  }
}